<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        Stock report
      </h1>
      <h2 class="subtitle ">
        watch today's daily report of stock, or pick up another day.
      </h2>

      <!-- filter form -->
      <div class="columns">

        <!-- input field of stock number -->
        <div class="column is-2">
          <input id="stock_number_input" class="input is-medium" type="text" placeholder="Stock number">
        </div>

        <!-- date picker  -->
        <div class="column is-offset-1 is-3">
          <div class="tabs is-medium">
            <ul>
              <li><a>Start Date</a></li>
              <span class= "icon is-large">
                <i class="fa fa-arrow-right"></i>
              </span>
              <li><a>End Date</a></li>
            </ul>
          </div>
        </div>

        <!-- submit btn -->
        <div class="column is-offset-1 is-1">
          <a id="stock_search"class="button is-light is-outlined is-medium">Search</a>
        </div>
        <div class="column"></div>
      </div>

      <!-- tags of chosen stock number -->
      <div id="stock_number_select_wrapper" class="container">
        <%#<span class="tag is-info is-small">
          <p class='stock_number_selected'>6116</p>
          <button class="delete is-small"></button>
        </span>%>
      </div>
    </div>
  </div>
</section>

<div class="container">

  <div class="notification">
    <button class="delete"></button>
      You can sort the turnovers by clicking the title of column.
  </div>  

  <!-- turnovers tables -->
  <table class="table">
    <thead>
      <tr>
        <th><a class = "button is-outlined"> 排 </a></th>
        <th><a class = "button is-outlined"> 日期 </a></th>
        <th><a class = "button is-outlined"> 代號 </a></th>
        <th><a class = "button is-outlined"> 名稱 </a></th>
        <th><a class = "button is-outlined"> 開盤價 </a></th>
        <th><a class = "button is-outlined"> 最高價 </a></th>
        <th><a class = "button is-outlined"> 最低價 </a></th>
        <th><a class = "button is-outlined"> 昨收盤 </a></th>
        <th><a class = "button is-outlined"> 今收盤 </a></th>
        <th><a class = "button is-outlined"> 成交量 </a></th>
        <th><a class = "button is-outlined"> 漲跌 </a></th>
        <th><a class = "button is-outlined"> 漲跌幅 </a></th>
      </tr>
    </thead>

    <tbody id='stock_table'>
      <% @turnovers.each_with_index do |stock, index| %>
        <% if stock.stock_change >= 0%>
          <% stockChangeClassName = "stock_price_up" %>
        <% else %>
          <% stockChangeClassName = "stock_price_down" %>
        <% end %>

      <tr>
        <td><%= index + 1 %></td>
        <td> <%= stock.timestamps.month.to_s + " / " + stock.timestamps.day.to_s %></td>
        <td><%= stock.stock_number %></td>
        <td><a href= <%=  stock.stock_company_hyperlink %> ><font size="3"><%= stock.stock_name %></font></a></td>
        <td><%= stock.stock_opening_price %></td>
        <td><%= stock.stock_highest_price %></td>
        <td><%= stock.stock_floor_price %></td>
        <td><%= stock.stock_closing_yesterday %></td>
        <td><%= stock.stock_closing_today %></td>
        <td><%= number_with_delimiter(stock.stock_volumn, :delimiter => ',') %></td>


        <td class=<%= stockChangeClassName %> >
          <span class= "icon is-small">
            <% if stock.stock_change >= 0%>
              <i class="fa fa-arrow-up"></i>
            <% else %>
              <i class="fa fa-arrow-down"></i>
            <% end %>
          </span>
          <span><%= stock.stock_change %></span>
        </td>
        <td><%= stock.stock_quote_change %></td>
      </tr>
      <% end %>

    </tbody>
  </table>
</div>